In [1]:
from urllib import request
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
def getData(url):
    link = url
    html_page = request.urlopen(link);
    soup = BeautifulSoup(html_page,'lxml')
    table = soup.find_all('table',class_="engineTable")
    data = table[2].get_text()
    #Rough cleaning to store as an excel file
    clean_data = re.sub('(\\n)',',',data)
    clean_data = re.sub('(,,,,|,,,|,,)',' \n ',clean_data)
    clean_data = re.sub(',',' \t ',clean_data)
    with open('ODI_BStats.xslx','a') as f:
        f.write(clean_data)
    print("Successfully got the data.")

In [3]:
#Url
url = "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;page={};template=results;type=batting"

In [4]:
#The above url contains 52 pages of data.
# Using only 2 pages for testing 
for i in range(1,3):
    getData(url.format(i))

Successfully got the data.
Successfully got the data.

In [5]:
df = pd.read_csv('ODI_BStats.xslx',sep='\t')

In [23]:
df.head() #After proper cleaning of data

,Player,Span,Matches,Innings,Not-Outs,Runs,Highest-Score,Avg.,Balls-Faced,Strike-Rate,100's,50's,Ducks
0,SR Tendulkar (INDIA),1989-2012,463.0,452.0,41.0,18426.0,200*,44.83,21367.0,86.23,49.0,96.0,20.0
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404.0,380.0,41.0,14234.0,169,41.98,18048.0,78.86,25.0,93.0,15.0
2,RT Ponting (AUS/ICC),1995-2012,375.0,365.0,39.0,13704.0,164,42.03,17046.0,80.39,30.0,82.0,20.0
3,ST Jayasuriya (Asia/SL),1989-2011,445.0,433.0,18.0,13430.0,189,32.36,14725.0,91.20,28.0,68.0,34.0
4,DPMD Jayawardene (Asia/SL),1998-2015,448.0,418.0,39.0,12650.0,144,33.37,16020.0,78.96,19.0,77.0,28.0

In [10]:
# Change the column names.
df.set_axis(['Player','Span','Matches','Innings','Not-Outs','Runs','Highest-Score','Avg.','Balls-Faced','Strike-Rate','100\'s','50\'s','Ducks'],axis=1,inplace=True)

In [22]:
df.count()

Player           100
Span             100
Matches          100
Innings          100
Not-Outs         100
Runs             100
Highest-Score    100
Avg.             100
Balls-Faced      100
Strike-Rate      100
100's            100
50's             100
Ducks            100
dtype: int64

In [13]:
# Deleting the cells with NAN values in the mentioned columns.
df = df.dropna(subset=['Span'])
df = df.dropna(subset=['Matches'])

In [17]:
df.dtypes

Player            object
Span              object
Matches          float64
Innings          float64
Not-Outs         float64
Runs             float64
Highest-Score     object
Avg.             float64
Balls-Faced      float64
Strike-Rate      float64
100's            float64
50's             float64
Ducks            float64
dtype: object

In [16]:
df["Matches"] = pd.to_numeric(df['Matches'], errors='coerce')
df["Innings"] = pd.to_numeric(df['Innings'], errors='coerce')
df["Not-Outs"] = pd.to_numeric(df['Not-Outs'], errors='coerce')
df["Runs"] = pd.to_numeric(df['Runs'], errors='coerce')
df["Avg."] = pd.to_numeric(df['Avg.'], errors='coerce')
df["Balls-Faced"] = pd.to_numeric(df['Balls-Faced'], errors='coerce')
df["Strike-Rate"] = pd.to_numeric(df['Strike-Rate'], errors='coerce')

In [19]:
df.reset_index(drop=True,inplace=True)
df.drop(df[df.Player == ' Player '].index,inplace=True)

In [21]:
df.to_excel('ODI_BData.xlsx')